*{box-sizing: border-box; padding: 0; margin:0;font-family:sans-serif;}


body{background:black; list-style:none;}
/* this is heder */
.container{width:100vw;height:100vh;
    background: linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0)),url(./image/figma4.png);
    background-size:cover;margin-bottom: 30px;}
     /* this is hed-nav */
    .hed-nav {
        display: flex;
        justify-content: space-between;
        padding-top:30px;
    }
    

    .name-website{padding-left:20px;}
    .hed-nav-icon{padding-right:60px;cursor: pointer;}
    .hed-nav a{text-decoration: none;color:white; margin-right:30px;transition:0.5s;}
    .hed-nav a:last-child{margin-right: 0px;}

    .hed-nav-main a:hover{border-bottom: 1px solid #FFA343;padding-bottom: 5px;}
    /* this is follow nav */
     

    .follow-nav{
        display: inline-block;
        color: white;
        font-size: 25px;
        padding: 50px; }
    .follow-nav a{color:white;transition:0.5s;}

.follow-nav a:hover{color:rgb(94, 94, 228);}

/* this is section-1*/
 .containers{width:70vw;margin: auto;}
 
/* this is left-right parent */

.left-rignt{display: flex;align-items: center;gap:200px;margin-top: -100px;}
 
/* this is left side */
.left img{width:150%;}


/* This is right side */
.hed-color{
    
    color: #FBD784;
    font-size:18px;
    font-weight: bold;
    letter-spacing: 7px;
    }

   .hed-color::before{content:"";height:2px; width: 50px;display: inline-block;
    background-color:#FBD784;position: relative;bottom: 5px;margin-right:8px;}
     
.link-color{padding: 0px;margin-top: 1px;color:#FBD784;text-decoration:none;
font-size:18px;}
.link-color a i{margin-top:50px;}
.link-color a:hover{
    color: #957938;
    border-bottom: 1px solid #8d6111;
    border-radius: 5px;}
.bold-color{color: white;font-size:30px;font-weight: bold;}
.right {
    
    color:#ffffff;
}
.right p{padding-right:80px;}

.size-writing{width:70%;margin-bottom:30px;}
 
.para-writitng{font-size:16px;margin-bottom: 20px;text-align: justify;color: white;}
 
 
    

    /* this is secend section */
   .middle-img{display: flex; align-items:flex-end;justify-content:center;
       background:linear-gradient(to bottom, rgb(0,0,0), rgba(0,0,0,0.5)), url(./image/figma1.png);width:70vw;
       height:100vh;background-size:cover; margin-top:80px; }

   .section-two {  width:60%;padding-bottom: 50px;text-align: center;}

   .section-two h1{margin-bottom: 20px;}
  
   .bg-color::after{content:"";height:2px; width: 50px;display: inline-block;
    background-color:#FBD784;position: relative;bottom: 5px;margin-right:8px;}
     


    /* this is thard section */
       
    .left-right-two{display:flex;margin-top:50px;margin-bottom: 100px;}

    .left-two{align-self: center; }

    .size-writing-two{width:70%;margin-bottom:30px;}
      
    .hed-color-two{
       color: #FBD784;
        font-size:18px;
        font-weight: bold;
        letter-spacing: 7px;
        }
    .hed-color-two::before{content:"";height:2px; width: 50px;display: inline-block;
        background-color:#FBD784;position: relative;bottom: 5px;margin-right:8px;}

        .bold-color-two{color: white;font-size:30px;font-weight: bold;}
        .para-writitng-two{font-size:16px;margin-bottom: 20px;text-align: justify;color: white;}
        .link-color-two{padding: 0px;margin-top: 1px;color:#FBD784;text-decoration:none;
            font-size:18px;}
    .right-two img{width: 100%;padding-left: 50px;}

    /* this is footer */
      .full-footer{}

      /* this is footer-top */
      .footer-top{color:white;display:flex;
        justify-content:space-between;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 100px;padding-bottom:30px;}
      .footer-top-child1{display: inline-block;}
       .footer-top-child1 h1{transition: 1s;cursor: pointer;}
      .footer-top-child1 h1:hover{letter-spacing:10px;}

      .footer-top span{color: #FBD784;}
      .btn {border:none;
        width: 150px;
        padding:12px;
        background-color: #FFA343;
        border-radius:7px;
        margin-left:50px; 
        cursor:pointer;
       transition:0.5s;}

        .btn:hover{background: #ff8502;}
       
        /* this is footer-middle */
        .footer-middle{display: flex;justify-content:space-between;margin-bottom: 101px;}
         

        .middle-left{color: white;padding-top: 60px;}
        .middle-left>*{flex:2;}
        input {
           
    background-color: black;
    border: none;
    height: 30px;
    width: 250px;
    color: white;
    border-bottom:1px solid #ffffff;}
            input:focus {
                outline: none !important;
            }

             
            .nav-manu ul {
                list-style: none;
                line-height: 37px;
                word-spacing: 4px;
                letter-spacing: 1px;
            }
            .nav-manu a{text-decoration: none;color:white;transition:0.5s;}
             .nav-manu h2{color: #FBD784;}

             .nav-manu a:hover{color:#FFA343;}
             .middle-left i{
                 margin-left:-5px;
                border-radius: 5px 5px 0px 0px;
                height:45px;
                width: 60px;
                background-color: #FFA343;
                padding: 19px 24px 24px 24px;
            } 
                 /* this is footer bottom */
                 .footer-bottom{display: flex;justify-content:space-between; margin-bottom:150px;}
                 .footer-bottom a{text-decoration: none;color: white;padding: 24px;transition:0.5s;}
                 .left-div a{margin-right: 10px;}

                 .end-footer{color: gray; text-align: center;margin-bottom:50px;}

                .footer-bottom a:hover{color: #FFA343;}




                /* responsive the website */
 
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{width:100%;} 
    .left-rignt{flex-direction: column;gap: 50px;}
    .left{align-self: flex-start;max-width:70%;}
    .right{align-self: center;margin-left:50px;}

   
    /* this is second section */
    .middle-img{height: 70vh;}

    /* this is thard section */
    .left-right-two{flex-direction: column;}
    .right-two{margin-right:40px;}

    /* this is footer */
    .full-footer{width:100%;}
    .footer-top{flex-direction: column;
        align-items: center;gap: 50px;}
        .footer-middle{flex-direction: column; gap: 50px;}

         .middle-left{padding-top:20px; align-self: center;position:relative;}
        .middle-left i{position: absolute;bottom:1px;right:-0.5px;}

         
        .nav-manu a{text-decoration: none;color:white;transition:0.5s;}
        .nav-manu h2{color: #FBD784;}
 .btn{position: absolute;right:65px;}
        .footer-top span{margin-left:-150px;margin-top: 10px;
         display: inline-block;}
         .footer-bottom{}
         .left-div{display: flex;line-height: 30px;font-size: 1rem;}
         .manu{display:flex;}

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) and (max-width:900px) {
    .container{width:100%;} 
    .left-rignt{flex-direction: column;gap: 50px;}
    .left{align-self: flex-start;max-width:70%;}
    .right{align-self: center;margin-left:50px;}

   
    /* this is second section */
    .middle-img{height: 70vh;}

    /* this is thard section */
    .left-right-two{flex-direction: column;}
    .right-two{margin-right:40px;}

    /* this is footer */
    .full-footer{width:100%;}
    .footer-top{flex-direction: column;
        align-items: center;gap: 50px;}
        .footer-middle{gap:30px;}

        .middle-left{padding-top:20px; align-self: center;position:relative;}
        .middle-left i{position: absolute;bottom:1px;right:-0.5px;}
         .faka{margin-bottom: 30px;}
        .nav-manu a{text-decoration: none;color:white;transition:0.5s;}
        .nav-manu h2{color: #FBD784;}

         .footer-bottom{}
         .left-div{display: flex;line-height: 30px;font-size: 1rem;}
         .manu{display:flex;}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

 
